@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}

body {
  background-color: rgb(226, 232, 240);
}

/* SIDEBAR */
.sidebar {
  background-color: rgb(26, 146, 212);
  position: fixed;
  top: 0;
  height: 100%;
  right: -500px;
  color: white;
}
.wrapper {
  margin: 20px 0px 0px 15px;
}
.sidebar-toggle {
  left: 0;
  width: 60%;
}
.sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-top-left {
  display: flex;
  align-items: center;
}
.sidebar-top-left > svg {
  width: 24px;
  height: 24px;
}
.sidebar-top-left > h2 {
  margin-left: 10px;
}
.close {
  margin-right: 10px;
}
.nav-ul {
  margin-top: 20px;
}
.nav-ul > li {
  padding: 10px 5px;
  display: flex;
  align-items: center;
}
.nav-ul > li > a {
  color: white;
  font-size: 23px;
  font-weight: 500;
  margin-left: 10px;
}

header {
  background-color: lightpink;
  border: 1px solid black;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.content {
  background-color: white;
}

/* DESKTOP */
@media screen and (min-width: 720px) {
  header {
    margin-left: 300px;
    padding-left: 20px;
  }
  .sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    max-width: 300px;
  }
  .sidebar-top-left > svg {
    width: 40px;
    height: 40px;
  }
  .sidebar-top-left > h2 {
    font-size: 34px;
    margin-left: 10px;
  }
  .menu {
    display: none;
  }
  .close {
    display: none;
  }
  .top {
    border: 1px solid black;
  }
}
