@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}

body {
  background-color: rgb(226, 232, 240);
}

/* SIDEBAR */
.sidebar {
  background-color: rgb(26, 146, 212);
  position: fixed;
  top: 0;
  height: 100%;
  right: -500px;
  color: white;
}
.wrapper {
  margin: 20px 0px 0px 15px;
}
.sidebar-toggle {
  left: 0;
  width: 60%;
}
.sidebar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-top-left {
  display: flex;
  align-items: center;
}
.sidebar-top-left > svg {
  width: 24px;
  height: 24px;
}
.sidebar-top-left > h2 {
  margin-left: 10px;
}
.close {
  margin-right: 10px;
}
.nav-ul {
  margin-top: 20px;
}
.nav-ul > li {
  padding: 10px 5px;
  display: flex;
  align-items: center;
}
.nav-ul > li > a {
  color: white;
  font-size: 23px;
  font-weight: 500;
  margin-left: 10px;
}

header {
  background-color: white;
  /* background-color: lightpink; */
  border: 1px solid black;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.top-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px 0px 0px;
}
.top-1 > input {
  outline: none;
  border: 1px solid #f5f5f5;
  border-radius: 13px;
  padding: 5px 10px;
  background-color: rgb(226, 232, 240);
}
.top-1 > div {
  display: flex;
  align-items: center;
  padding-right: 15px;
  /* border: 1px solid black; */
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0px 0px 0px 10px;
}
.top-2-mobile {
  display: flex;
  align-items: center;
  margin: 10px 30px 0px 0px;
  /* border: 1px solid red; */
}
.top-2-desktop {
  display: none;
}

.content {
  background-color: rgb(226, 232, 240);
  /* background-color: rgb(253, 197, 205); */
  text-align: start;
  padding-left: 20px;
  margin-left: 10px;
  border: 1px solid rebeccapurple;
}
.content-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card {
  text-align: center;
  background-color: white;
  border: 1px solid black;
}

/* DESKTOP */
@media screen and (min-width: 720px) {
  header {
    margin-left: 300px;
    padding-left: 20px;
  }
  .sidebar {
    position: fixed;
    left: 0;
    height: 100%;
    max-width: 300px;
  }
  .sidebar-top-left > svg {
    width: 40px;
    height: 40px;
  }
  .sidebar-top-left > h2 {
    font-size: 34px;
    margin-left: 10px;
  }
  .menu {
    display: none;
  }
  .close {
    display: none;
  }
  .top {
    border: 1px solid black;
  }
  .search {
    width: 30%;
  }
  .top-2-mobile {
    display: none;
  }
  .top-2-desktop {
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    width: 100%;
    margin: 10px;
    /* padding-top: 20px; */
  }
  .desktop-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .user {
    display: flex;
  }
  .greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .greeting > p {
    font-weight: 700;
  }
  .top-2-desktop > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
  }
  .top-2-desktop > ul > li {
    padding: 5px 20px;
    background-color: rgb(26, 146, 212);
    margin: 0px 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  }
  .top-2-desktop > ul > li a {
    color: white;
  }

  /* CONTENT */
  .content {
    margin-left: 300px;
  }
}

@media screen and (max-width: 900px) {
  .top-2-desktop > ul {
    display: none;
  }
}
